<div class="col">
    <div class="card {% if not event.solved_at %}border-danger{% endif %} ">
        <div class="card-body">
            <p class="card-subtitle small {% if event.is_today %}text-primary fw-bold{% else %}text-muted{% endif %}">
                {{ event.formatted_date }}
            </p>
            <h5 class="card-title">{{ event.title | truncatechars:80 }}</h5>
            <p class="card-text">
                {{ event.description | truncatechars:320 }}
                <a class="card-link text-decoration-none stretched-link" href="{% url 'app:event_detail' event.id %}">
                    Devamını Oku
                    <svg class="bi bi-arrow-right" fill="currentColor" height="16" viewBox="0 0 16 16"
                         width="16" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                              fill-rule="evenodd"/>
                    </svg>
                </a>
            </p>
        </div>
    </div>
</div>