<footer class="container-fluid bg-dark text-light py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-3">
      <div class="col col-md-3">
        <h5>Ceride</h5>
        <p class="text-muted">Güncel kalın.</p>
      </div>
      <div class="col col-md-9">
        <p class="text-muted small">
          MEBS ve Siber Güvenlik personeli tarafından gönüllülük esasına göre ortak bir çalışma ile geliştirilen bu uygulama, arıza ve çözümlerin takibi, raporlanması ve kurum hafızasının gelişmesini amaçlamaktadır. Bu sayede, geçmişte yaşanan sorunların çözümleri daha kolay bir şekilde bulunabilecek ve gelecekte benzer sorunların önüne geçilebilecektir.
          <a href="#" class="text-decoration-none text-muted small">v0.1.0</a>
        </p>
      </div>    
    </div>
  </div>
</footer>