{% extends 'base.html' %}

{% block title %}Ana Sayfa{% endblock title%}

{% block content %}
<section class="container-fluid bg-light pt-5" id="search">
    <div class="container">
        {% include 'partials/_filter.html' %}
    </div>
</section>

<section class="container-fluid bg-light py-5" id="cards">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            {% for event in events.qs %}
            {% include 'partials/_event_card.html' %}
            {% endfor %}
        </div>
    </div>
</section>

{% if is_paginated %}
<section class="container-fluid bg-light py-3" id="pagination">
    <div class="container">
        <div class="row">
            <div class="col-auto mx-auto">
                {% include 'partials/_pagination.html' %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock content %}

{% block script %}
<script>
    function submitForm() {
        document.getElementById("form").submit();
        return false;
    }

</script>
{% endblock script %}
